#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  width: 40vw;
  padding: 30px;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Always 4 columns */
  gap: 5px; /* Add some space between the boxes */
  width: 100%;
  border: 1px solid black;
}

.box {
  border: 1px solid black;
  aspect-ratio: 1 / 1; /* Make boxes square */
  background-color: var(--box-color);
}
